<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel='stylesheet' href="/stylesheets/style.css" />
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>    <!--===============================================================================================-->
    	<link rel="icon" type="image/png" href="/images/logo.png"/>
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/vendor/animate/animate.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="/test/css/util.css">
    	<link rel="stylesheet" type="text/css" href="/test/css/main.css">

  </head>
  <body>
    {{> header}}


      {{{body}}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--===============================================================================================-->
    <!--===============================================================================================-->
    	<script src="/test/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    	<script src="/test/vendor/bootstrap/js/popper.js"></script>
    	<script src="/test/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    	<script src="/test/vendor/select2/select2.min.js"></script>
    	<script>
    		$(".js-select2").each(function(){
    			$(this).select2({
    				minimumResultsForSearch: 20,
    				dropdownParent: $(this).next('.dropDownSelect2')
    			});
    		})
    	</script>
    <!--===============================================================================================-->
    	<script src="/test/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    	<script src="/test/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    	<script>
    		$('.js-pscroll').each(function(){
    			$(this).css('position','relative');
    			$(this).css('overflow','hidden');
    			var ps = new PerfectScrollbar(this, {
    				wheelSpeed: 1,
    				scrollingThreshold: 1000,
    				wheelPropagation: false,
    			});

    			$(window).on('resize', function(){
    				ps.update();
    			})
    		});
    	</script>
    <!--===============================================================================================-->
    	<script src="/test/js/main.js"></script>



  </body>
  {{> footer}}
</html>
