<div class="row">
  <div class="col-sm-6 col-md-4 offset-md-4 offset-sm-3">
    <div id="success" class="alert alert-success" {{# if noMessages}}hidden{{/if}}>
      {{succMsg}}
    </div>
  </div>
</div>

<img src="https://images-na.ssl-images-amazon.com/images/I/41m-CfuaEcL._SX466_.jpg" class="card-img-top" alt="...">
