<div class="row">
  <div class="col-sm-6 col-md-4 offset-md-4 offset-sm-3 m-t-125 m-b-100">
    <div id="change-success" class="alert alert-success" style="text-align: center">
      {{succMsg}}
    </div>
  </div>
</div>