<meta name="viewport" content="width=device-width, initial-scale=1">



<head>
	<title>Shoping Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
=============================-->
</head>


<!-- Shoping Cart -->

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--75 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-1">Product</th>
                <th class="column-2"></th>
                <th class="column-3">Price</th>
                <th class="column-4">Quantity</th>
                <th class="column-5">Total</th>
              </tr>

              <tr class="table_row">
                <td class="column-1">
                  <div class="how-itemcart1">
                    <img alt="IMG">
                  </div>
                </td>
                <td class="column-2">hello</td>
                <td class="column-3">$ 12</td>
                <td class="column-4">
                  <div class="wrap-num-product flex-w m-l-auto m-r-0">
                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                      <i  class="fs-16 zmdi zmdi-minus"></i>
                    </div>

                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value='2'>

                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                        <i  class="fs-16 zmdi zmdi-plus"></i>
                    </div>
                  </div>
                </td>
                <td class="column-5">$ 32</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
