<link rel='stylesheet' href="/stylesheets/login-style.css" />

<div class="row" style="margin-top: 100px">
  <div class="col-md-4 offset-md-4">
    {{#if hasErrors}}
      <div class="alert alert-danger">
        {{# each errMsg}}
          <p>{{ this }}</p>
        {{/each}}
      </div>
    {{/if}}
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <div class="fadeIn first">
          <h3 class="stext-my" style="padding-bottom: 20px; padding-top: 20px">Forgot password</h3>
        </div>
        <!-- Login Form -->
        <form action='/users/reset/{{token}}' method="POST">
          <input type="password" id="newPassword" class="fadeIn second input-my" name="newPassword" placeholder="New Password">
          <input type="password" id="reNewPassword" class="fadeIn third input-my" name="reNewPassword" placeholder="Confirm New Password">

          <input type="hidden" name="_csrf" value="{{ csrfToken }}">


          <input type="submit" class="fadeIn fourth" value="Update">
        </form>

      </div>
    </div>
  </div>
</div>
