<link rel='stylesheet' href="/stylesheets/login-style.css" />

<div class="row" style="margin-top: 100px">
  <div class="col-md-4 offset-md-4">
    {{#if hasErrors}}
      <div class="alert alert-danger">
        {{# each messages}}
          <p>{{ this }}</p>
        {{/each}}
      </div>
    {{/if}}
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <div class="fadeIn first">
          <h3 class="stext-my" style="padding-bottom: 20px; padding-top: 20px">Sign Up</h3>
        </div>
        <!-- Login Form -->
        <form action='/users/signup' method="POST">
          <input type="text" id="firstName" class="fadeIn second input-my" name="firstName" placeholder="First Name">
          <input type="text" id="lastName" class="fadeIn second input-my" name="lastName" placeholder="Last Name">
          <input type="text" id="email" class="fadeIn second input-my" name="email" placeholder="E-mail">
          <input type="password" id="password" class="fadeIn second input-my" name="password" placeholder="Password">
          <input type="password" id="rePassword" class="fadeIn second input-my" name="rePassword" placeholder="Repeat Password">

          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          <input type="submit" class="fadeIn third" value="Sign up">
        </form>



      </div>
    </div>
  </div>
</div>
